.Home .lander {
  padding: 80px 0;
  text-align: center;
}

.Home .lander h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: #faf9f9
}

.Home .lander .slogan{
  color: #FF8945;
  font-weight: 700;
}

.Home .jumbo {
  background-color: #A63B00;
  color: white;
}

.Home .card-img-top {
  width: 100%;
  height: 10vw;
  object-fit: cover;
}

.Home .Card {
  min-height: 30%;
}

.Home .card-header {
  height: 25%;
}

.Home .bg-1 {
  background-color: #64BEC3;
  color: #005C70;
  font-weight:bold;
  font-size:14px;
}

.Home .bg-2 {
  background-color: #64BEC3;
}

.Home .bg-3 {
  background-color: #005C70;
}

.Home .slogan {
  color: #64BEC3;
}

.card-title {
  text-shadow: 2px 2px #383838;
}
