.Home .lander {
  padding: 80px 0;
  text-align: center;
}

.Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #faf9f9
}

.Home .lander .slogan{
  color: #64BEC3;
  font-weight: 700;
}

.Home .jumbo {
  background-color: #A63B00;
  color: white;
}

.Home .card-img-top {
  width: 100%;
  height: 10vw;
  object-fit: cover;
}

.Home .Card {
  min-height: 30%;
}

.Home .bg-1 {
  background-color: #E3F5EE;
}

.Home .bg-2 {
  background-color: #64BEC3;
}

.Home .bg-3 {
  background-color: #005C70;
}

.Home .slogan {
  color: #64BEC3;
}