@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }

    .btn-primary.disabled, .btn-primary:disabled {
      color: #fff;
      background-color: #64BEC3;
      border-color: #64BEC3;
      font-family: "Quicksand", sans-serif;
    }
    .form-label {
      color: #005157;
    }
  }