@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }

    .btn-primary.disabled, .btn-primary:disabled {
      color: #fff;
      background-color: #A63B00;
      border-color: #A63B00;
    }
    .form-label {
      color: #005157;
    }

    .btn-primary {
      color: #fff;
      background-color: #A63B00;
      border-color: #A63B00;
    }

    .btn-primary:hover {
      color: #fff;
      background-color: #A63B00 !important;
      border-color: #A63B00 !important;
    }
  }