@media all and (min-width: 480px) {
  .Signup {
    padding: 60px 0;
  }

  .Signup form {
    margin: 0 auto;
    max-width: 320px;
  }

  .btn-success.disabled, .btn-success:disabled {
    color: #fff;
    background-color: #A63B00;
    border-color: #A63B00;
  }

  .btn-success, .btn-success {
    color: #fff;
    background-color: #A63B00;
    border-color: #A63B00;
}

.btn-success:hover, .btn-success:hover {
  color: #fff;
  background-color: #A63B00 !important;
  border-color: #A63B00 !important;
}

.btn-success.focus, .btn-success:focus {
  color: #fff;
  background-color: #A63B00;
  border-color: #A63B00;
  
}

.btn-success.focus:hover, .btn-success:focus:hover {
  color: #fff;
  background-color: #A63B00 !important;
  border-color: #A63B00 !important;
  
}

  .form-label {
    color: #005157;
  }
}
