.App .logo{
    color: #A63B00;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

.App .links{
    color: #005157;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #005157;
}

.App .bg-light {
    background-color: #faf9fa!important;
}

.App {
  min-width: 100%;
}

html,body{
  height: 100%
}
