.App .logo{
    color: #A63B00;
    font-weight: 700;
    font-family: "Quicksand", sans-serif;
}

.App .links{
    color: #A63B00;
}


.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #A63B00;
}

.Nav .Link {
  color: #FF8945;
}

.App .bg-light {
    background-color: #faf9fa!important;
}

.App {
  min-width: 100%;
  font-family: "Quicksand", sans-serif;
}

html,body{
  height: 100%;
}

.icon {
  margin-left: 5px;
  margin-top:-1px;
}

